Source: openmediavault-rsync-prometheus
Section: admin
Priority: optional
Maintainer: SilentSib <silentsib@example.com>
Build-Depends: debhelper-compat (= 13), \
               openmediavault (>= 8.0.0), \
               openmediavault-openmediavault (>= 8.0.0), \
               prometheus-client (>= 0.15.0), \
               python3, python3-pip
Standards-Version: 4.6.1
Vcs-Browser: https://github.com/SilentSib/openmediavault-rsync-prometheus
Vcs-Git: https://github.com/SilentSib/openmediavault-rsync-prometheus.git

Package: openmediavault-rsync-prometheus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, \
         openmediavault (>= 8.0.0), \
         prometheus-client (>= 0.15.0)
Provides: openmediavault-rsync-prometheus
Description: Rsync metrics pushgateway plugin for OpenMediaVault 8
         This plugin monitors rsync jobs and pushes metrics to a 
         Prometheus Pushgateway.
